# Ignore git branchiing bash file
Create_Branch.sh


# Ignore idea folder
.idea/

# Ignore pycache folders created by Pycharm
gFunctionDatabase/Database/__pycache__/
gFunctionDatabase/DatabaseManagement/__pycache__/
gFunctionDatabase/General/__pycache__/
gFunctionDatabase/__pycache__/
